Source: ibus-skk
Section: utils
Priority: optional
Maintainer: Daiki Ueno <ueno@unixuser.org>
Build-Depends: debhelper (>= 7), autotools-dev, pkg-config, python-support, intltool
Standards-Version: 3.8.3
Homepage: http://github.com/ueno/ibus-skk
DM-Upload-Allowed: yes

Package: ibus-skk
Architecture: all
Depends: ${python:Depends}, ${misc:Depends}, ibus (>= 1.2), skkdic | skkserv
XB-Python-Version: ${python:Versions}
Description: SKK engine for IBus
 IBus is an Intelligent Input Bus. It is a new input framework for Linux
 OS. It provides full featured and user friendly input method user interface.
 It also may help developers to develop input method easily.
 .
 IBus-SKK is an input method (IM) for Japanese, based on IBus.
